* {
    padding: 0;
    margin: 0;
    font-family: adobe-clean,Source Sans Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,sans-serif;
}

body header {
    width: 100%;
    height: 4rem;
    background: #000;
    display: flex;
    flex-direction: row;
}

header > a {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    height: 100%;
    font-weight: 300;
    font-size: 24px;
    text-decoration: none;
    color: #a3a5ae;
}

header .aplication-name {
    font-weight: 900;
    letter-spacing: 3px;
    text-shadow: rgb(187, 33, 33) -1px 0,
                rgb(38, 156, 156) 1px 0;
}

header .aplication-plus div {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    animation: background;
}

header .aplication-plus div:hover {
    background-color: rgb(51, 194, 111);
    color: #f8f9fc;
    transform: scale(1.03);
}

body footer {
    width: 100%;
    height: 2rem;   
    background: #000;
    color: #a3a5ae;
    display: flex;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar {
    background-color: transparent !important;
    width: 8px !important;
}
  
::-webkit-scrollbar-thumb {
    background: rgb(255, 0, 0) !important;
    border-radius: 20px !important;
}

/* MEDIA QUERYS */
@media only screen and (max-width: 480px) {
    header > a.aplication-name {
        margin-left: 20px;
        font-size: 16px;
    }
}

@media only screen and (max-width: 768px) {
    header > a.aplication-name {
        margin-inline-start: 40px;
    }
}