<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Adicionando Mais Um Filme</title>
    <link rel="stylesheet" href="../assets/css/adiciona-filme.css" />
    <link rel="stylesheet" href="../assets/css/main-style.css">
  </head>
  <body>
    <header>
      <a href="../templates/index.html" class="aplication-name">NETFLIX PIRATA</a>
      <a href="#" class="aplication-plus"><div class="icon-plus">+</div></a>
    </header>
    <section class="login-area">
      <div class="div-form">
        <div>
          <h4 class="h-name-form">Cadastre Seu Filme</h4>
        </div>
        
        <form action="#" method="post" enctype="multipart/form-data">
          
          <input type="text" id="input-title" placeholder="Título do Filme" ="input-title" autocomplete="off"/>
          <input type="text" id="input-director" placeholder="Diretor do Filme" name="input-director" autocomplete="off"/>

          <input type="submit" data-btn-submit value="enviar"></input>
        </form>
      </div>
    </section>
    <footer>&copy; João Pedro e Thayane Felipe.</footer>

    <script src="../assets/js/adiciona-filme.js" type="module"></script>
  </body>
</html>
