<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Melhor Plataforma De Filmes</title>
    <link rel="stylesheet" href="../assets/css/index.css" />
    <link rel="stylesheet" href="../assets/css/main-style.css" />
  </head>
  <body>
    <header>
        <a href="#" class="aplication-name">NETFLIX PIRATA</a>
        <a href="../templates/adiciona-filme.html" class="aplication-plus"><div class="icon-plus">+</div></a>
    </header>
    <div class="main-content"></div>
    <footer>&copy; João Pedro e Thayane Felipe.</footer>
    <script src="../assets/js/index.js" type="module"></script>
  </body>
</html>
